/* HEADER */
/* ***** */

/*GRID LAYOUT*/
header{
    width: 1366px;
    display: grid;
    grid-template-columns: 50px auto auto 50px;
    grid-template-rows: auto auto auto auto;

}
img{
    width: 100%;
    grid-column: 1/5;
    grid-row: 1/5;
}
nav{
    grid-column: 2/4;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between; 
   
}
.logo{
    margin-top: 40px;
}
a{
    color: black;
    margin: 40px;
    font-size: 18px;
}
.main{
    background-color: var(--colorButton);
    padding: 40px;
    margin-top: 0;
    color: white;
    
}
.movil{
    margin-top: 40px;
}
/*logo y movil en nav*/
h1{
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
}
/*interior in your house*/
h2{
    grid-column: 2/3;
    grid-row: 2/3;
    font-size: 50px;
}
/*choose fot yourself more*/
p{
    grid-column: 2/3;
    grid-row: 3/4;
    font-size: 18px;
}
/*link MORE*/
.button{
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: var(--colorButton);
    padding: 20px;
    color: white;
  
}